.App {
    margin-left: 40px;
    margin-top: 30px;
}

a {
    display: block;
}

.main-container {
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
    background: #F9FFF9;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 30px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    width: 900px
}

input {
    margin-right: 20px;
    height: 30px;
    width: 220px;
    padding-left: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.search-result {
    padding: 30px;
    display: flex;
    background-color: #F9FFF9;
    margin-bottom: 10px;
    width: 1000px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
}

.search-result-content {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.search-result-group {
    margin-right: 70px;
}

.action-buttons {
    display: flex;
    width: 850px;
    justify-content: flex-end;
}

.input-section {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 900px;
}

.remove-button {
    width: 30px;
    background-color: aliceblue;
}

.spacer {
    width: 30px
}

#go-button {
    margin-left: 10px;
}