<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="topcorner hidden">
        <p>Project Name: {{ name }}</p>
        <p>Student Names: ({{ netid }})</p>
    </div>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            Road Trip Recommender
        </h1>

        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="locations" class="form-control" placeholder="Locations">
        </div>
        <div class="form-group">
            <input id="input" type="text" name="preferences" class="form-control" placeholder="Preferences">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for l in output %}
        <br>
        <strong><h2>{{l}}</h2></strong>
        <br>
        <h4>Food</h4>
        <p>{{output[l][0]}}</p>
        <br>
        <h4>Activities</h4>
        <p>{{output[l][1]}}</p>
        {% endfor %} {% endif %}
    </form>
</body>

</html>